.register-parent .register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 100px;
  background-color: bisque;
  border-radius: 8px;
}

.register-parent input {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

.register-parent .logo-parent {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.register-parent .logo-parent img {
  border-radius: 8px;
}

.register-parent input:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.register-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-parent .name-parent {
  display: flex;
  gap: 6px;
}

.register-parent .name-parent input {
  flex: 1;
  min-width: 0;
}

.register-parent .form-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.register-parent .register-button {
  all: unset;
  text-align: center;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.register-parent .register-button:hover {
  background-color: #f0f0f0;
  border-color: #666;
  color: #000;
}

.register-parent .login-button {
  all: unset;
  color: blue;
  cursor: pointer;
}

.register-parent .error {
  color: red;
}
