.lab-container {
  height: 100vh;
}

.lab-parent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.lab-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lab-item {
}

.problem-pane {
  width: 30%;
}

.workspace-pane {
  width: 70%;
}
