.navbar-container {
  width: 30%;
  z-index: 1000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.problems-item:hover {
  cursor: pointer;
  background-color: grey;
}

.problems-item {
  padding: 10px;
  background-color: black;
  color: white;
}
