.navbar-container {
  width: 30%;
  z-index: 1000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.problems-list {
}

.problems-item {
  padding: 10px;
  background-color: black;
  color: white;
}

.active {
}

.navbar-overlay {
}
