body {
  font-family: monospace;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  background-color: #f5f7fa;
}

.login-parent .login-form,
.register-parent .register-form {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.login-parent input,
.register-parent input {
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
